{extend name="public/base" /}
{block name="style"}
<style>
    .nav-custom.navbar-nav > li.itinerary-active > a,
    .nav-custom.navbar-nav > li.itinerary-active > a:hover {
        background: none;
        color: #05AFEE;
    }
</style>
{/block}

{block name="body"}
<div class="content plan">
    <div class="container">
        <div class="row">
            <div class="panel panel-default no-background">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <strong>值得期待</strong>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-6">
                        <div class="trip-item media">
                            <div class="media-left p-25">
                                <a href="#"><img src="images/guitar.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">大手牵小手，永远不打滑</a></h4>
                                <div class="trip-info">
                                    <p class="trip-user">
                                        <em>1</em> 人
                                    </p>
                                    <p class="trip-days">
                                        <em>8</em> 天
                                    </p>
                                    <p class="trip-money">
                                        预算<em>11364</em>元/人
                                    </p>
                                    <p class="trip-date">
                                        2017.05.04 - 05.11 </p>
                                </div>
                                <div class="trip-plan-desc mbottom">
                                    <kbd>行程概况</kbd><i class="fa fa-caret-right"></i>
                                    <p>
                                        故宫<i class="fa fa-caret-right"></i>出海赏鲸🐳<i class="fa fa-caret-right"></i>垦丁各景点<i class="fa fa-caret-right"></i>总统府<i class="fa fa-caret-right"></i>龙山寺<i class="fa fa-caret-right"></i>垦丁<i class="fa fa-caret-right"></i>后壁湖
                                    </p>
                                    <div class="mask"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="trip-item media">
                            <div class="media-left p-25">
                                <a href="#"><img src="images/guitar.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">大手牵小手，永远不打滑</a></h4>
                                <div class="trip-info">
                                    <p class="trip-user">
                                        <em>1</em> 人
                                    </p>
                                    <p class="trip-days">
                                        <em>8</em> 天
                                    </p>
                                    <p class="trip-money">
                                        预算<em>11364</em>元/人
                                    </p>
                                    <p class="trip-date">
                                        2017.05.04 - 05.11 </p>
                                </div>
                                <div class="trip-plan-desc mbottom">
                                    <kbd>行程概况</kbd><i class="fa fa-caret-right"></i>
                                    <p>
                                        故宫<i class="fa fa-caret-right"></i>出海赏鲸🐳<i class="fa fa-caret-right"></i>垦丁各景点<i class="fa fa-caret-right"></i>总统府<i class="fa fa-caret-right"></i>龙山寺<i class="fa fa-caret-right"></i>垦丁<i class="fa fa-caret-right"></i>后壁湖
                                    </p>
                                    <div class="mask"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="trip-item media">
                            <div class="media-left p-25">
                                <a href="#"><img src="images/guitar.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">大手牵小手，永远不打滑</a></h4>
                                <div class="trip-info">
                                    <p class="trip-user">
                                        <em>1</em> 人
                                    </p>
                                    <p class="trip-days">
                                        <em>8</em> 天
                                    </p>
                                    <p class="trip-money">
                                        预算<em>11364</em>元/人
                                    </p>
                                    <p class="trip-date">
                                        2017.05.04 - 05.11 </p>
                                </div>
                                <div class="trip-plan-desc mbottom">
                                    <kbd>行程概况</kbd><i class="fa fa-caret-right"></i>
                                    <p>
                                        故宫<i class="fa fa-caret-right"></i>出海赏鲸🐳<i class="fa fa-caret-right"></i>垦丁各景点<i class="fa fa-caret-right"></i>总统府<i class="fa fa-caret-right"></i>龙山寺<i class="fa fa-caret-right"></i>垦丁<i class="fa fa-caret-right"></i>后壁湖
                                    </p>
                                    <div class="mask"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="trip-item media">
                            <div class="media-left p-25">
                                <a href="#"><img src="images/guitar.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">大手牵小手，永远不打滑</a></h4>
                                <div class="trip-info">
                                    <p class="trip-user">
                                        <em>1</em> 人
                                    </p>
                                    <p class="trip-days">
                                        <em>8</em> 天
                                    </p>
                                    <p class="trip-money">
                                        预算<em>11364</em>元/人
                                    </p>
                                    <p class="trip-date">
                                        2017.05.04 - 05.11 </p>
                                </div>
                                <div class="trip-plan-desc mbottom">
                                    <kbd>行程概况</kbd><i class="fa fa-caret-right"></i>
                                    <p>
                                        故宫<i class="fa fa-caret-right"></i>出海赏鲸🐳<i class="fa fa-caret-right"></i>垦丁各景点<i class="fa fa-caret-right"></i>总统府<i class="fa fa-caret-right"></i>龙山寺<i class="fa fa-caret-right"></i>垦丁<i class="fa fa-caret-right"></i>后壁湖
                                    </p>
                                    <div class="mask"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="trip-item media">
                            <div class="media-left p-25">
                                <a href="#"><img src="images/guitar.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">大手牵小手，永远不打滑</a></h4>
                                <div class="trip-info">
                                    <p class="trip-user">
                                        <em>1</em> 人
                                    </p>
                                    <p class="trip-days">
                                        <em>8</em> 天
                                    </p>
                                    <p class="trip-money">
                                        预算<em>11364</em>元/人
                                    </p>
                                    <p class="trip-date">
                                        2017.05.04 - 05.11 </p>
                                </div>
                                <div class="trip-plan-desc mbottom">
                                    <kbd>行程概况</kbd><i class="fa fa-caret-right"></i>
                                    <p>
                                        故宫<i class="fa fa-caret-right"></i>出海赏鲸🐳<i class="fa fa-caret-right"></i>垦丁各景点<i class="fa fa-caret-right"></i>总统府<i class="fa fa-caret-right"></i>龙山寺<i class="fa fa-caret-right"></i>垦丁<i class="fa fa-caret-right"></i>后壁湖
                                    </p>
                                    <div class="mask"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="trip-item media">
                            <div class="media-left p-25">
                                <a href="#"><img src="images/guitar.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">大手牵小手，永远不打滑</a></h4>
                                <div class="trip-info">
                                    <p class="trip-user">
                                        <em>1</em> 人
                                    </p>
                                    <p class="trip-days">
                                        <em>8</em> 天
                                    </p>
                                    <p class="trip-money">
                                        预算<em>11364</em>元/人
                                    </p>
                                    <p class="trip-date">
                                        2017.05.04 - 05.11 </p>
                                </div>
                                <div class="trip-plan-desc mbottom">
                                    <kbd>行程概况</kbd><i class="fa fa-caret-right"></i>
                                    <p>
                                        故宫<i class="fa fa-caret-right"></i>出海赏鲸🐳<i class="fa fa-caret-right"></i>垦丁各景点<i class="fa fa-caret-right"></i>总统府<i class="fa fa-caret-right"></i>龙山寺<i class="fa fa-caret-right"></i>垦丁<i class="fa fa-caret-right"></i>后壁湖
                                    </p>
                                    <div class="mask"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="trip-item media">
                            <div class="media-left p-25">
                                <a href="#"><img src="images/guitar.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">大手牵小手，永远不打滑</a></h4>
                                <div class="trip-info">
                                    <p class="trip-user">
                                        <em>1</em> 人
                                    </p>
                                    <p class="trip-days">
                                        <em>8</em> 天
                                    </p>
                                    <p class="trip-money">
                                        预算<em>11364</em>元/人
                                    </p>
                                    <p class="trip-date">
                                        2017.05.04 - 05.11 </p>
                                </div>
                                <div class="trip-plan-desc mbottom">
                                    <kbd>行程概况</kbd><i class="fa fa-caret-right"></i>
                                    <p>
                                        故宫<i class="fa fa-caret-right"></i>出海赏鲸🐳<i class="fa fa-caret-right"></i>垦丁各景点<i class="fa fa-caret-right"></i>总统府<i class="fa fa-caret-right"></i>龙山寺<i class="fa fa-caret-right"></i>垦丁<i class="fa fa-caret-right"></i>后壁湖
                                    </p>
                                    <div class="mask"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="trip-item media">
                            <div class="media-left p-25">
                                <a href="#"><img src="images/guitar.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">大手牵小手，永远不打滑</a></h4>
                                <div class="trip-info">
                                    <p class="trip-user">
                                        <em>1</em> 人
                                    </p>
                                    <p class="trip-days">
                                        <em>8</em> 天
                                    </p>
                                    <p class="trip-money">
                                        预算<em>11364</em>元/人
                                    </p>
                                    <p class="trip-date">
                                        2017.05.04 - 05.11 </p>
                                </div>
                                <div class="trip-plan-desc mbottom">
                                    <kbd>行程概况</kbd><i class="fa fa-caret-right"></i>
                                    <p>
                                        故宫<i class="fa fa-caret-right"></i>出海赏鲸🐳<i class="fa fa-caret-right"></i>垦丁各景点<i class="fa fa-caret-right"></i>出海赏鲸🐳<i class="fa fa-caret-right"></i>垦丁各景点<i class="fa fa-caret-right"></i>总统府<i class="fa fa-caret-right"></i>龙山寺<i class="fa fa-caret-right"></i>垦丁<i class="fa fa-caret-right"></i>后壁湖
                                    </p>
                                    <div class="mask"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
{/block}