<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">


    <title>用户组列表</title>

    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="<?php echo PUBLIC_STATIC_PATH; ?>/css/font-awesome.css">
    <link rel="stylesheet" href="<?php echo PUBLIC_STATIC_PATH; ?>/css/animate.min.css">
    <link rel="stylesheet" href="<?php echo PUBLIC_STATIC_PATH; ?>/css/bootstrap.min.css">
    <link rel="stylesheet" href="<?php echo PUBLIC_STATIC_PATH; ?>/css/style.css">
    <style>


        /*-------------------------*/
        .manager-list .table th,
        .manager-list .table td {
            text-align: center;
        }


    </style>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li><a href="#">控制台</a></li>
                <li><a href="#">管理员设置</a></li>
                <li class="active">用户组列表</li>
            </ol>
            <div class="ibox manager">
                <div class="ibox-title">
                    <h5>用户组列表</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link" href="#">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row m-b-10 m-t-10">
                        <div class="col-md-8">
                            <form action="/admin/auth_group/index" method="get">
                                <div class="input-group input-group-sm">
                                    <input class="form-control" name="keyword" type="text" placeholder="用户组名称" value="{if condition='isset($keyword)'}{$keyword}{/if}">
                                    <span class="input-group-btn">
                                    <button class="btn btn-green" type="submit">搜索</button>
                                </span>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-sm btn-info" href="/admin/auth_group/add"><i class="fa fa-plus-circle"></i> 新增用户组</a>
                        </div>
                    </div>
                    <div class="manager-list">
                        <table class="table table-hover text-center ">
                            <thead>
                            <tr>
                                <th class="admin-name">
                                    <label>ID</label>
                                </th>
                                <th class="last-login">
                                    <label>用户组名称</label>
                                </th>
                                <th class="permission">
                                    <label>状态</label>
                                </th>
                                <th class="operation">
                                    <label>操作</label>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {foreach $list as $item}
                            <tr>
                                <td>{$item['id']}</td>
                                <td>{$item['title']}</td>
                                <td>
                                    <a href="statusChange?id={$item['id']}&status={$item['status']}">
                                        {switch name="item.status"}
                                        {case value="-1"}<span class="label label-warning">删除</span>{/case}
                                        {case value="0"}<span class="label label-danger">禁用</span>{/case}
                                        {case value="1"}<span class="label label-primary">正常</span>{/case}
                                        {case value="2"}<span class="label label-info">待审核</span>{/case}
                                        {/switch}
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-white" href="/admin/auth_group/edit?id={$item['id']}" type="button"><i class="fa fa-edit"></i>编辑</a>
                                    <a class="btn btn-sm btn-danger" href="/admin/auth_group/delete?id={$item['id']}" type="button"><i class="fa fa-remove"></i>删除</a>
                                </td>
                            </tr>
                            {/foreach}
                            </tbody>
                        </table>
                        <div class="container-fluid">
                            <div class="text-center">
                                {$page}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="<?php echo PUBLIC_STATIC_PATH; ?>/js/jquery.min.js"></script>
<script src="<?php echo PUBLIC_STATIC_PATH; ?>/js/bootstrap.min.js"></script>
<script src="<?php echo PUBLIC_STATIC_PATH; ?>/js/wow.min.js"></script>
<script src="<?php echo PUBLIC_STATIC_PATH; ?>/js/hplus.js"></script>
<script>
    /*function getAuthGroupList() {
        $.ajax({
            type: 'post',
            url: '/admin/auth_group/getList',
            success: function (data) {
                alert(data);
                for (var i = 0; i < data.data.length; i++) {
//                    $(".table tbody").append('<tr><td><label><input type="checkbox"></label> </td> <td>' + data[i].id + '</td> <td>' + data[i].name + '</td> <td>' + data[i].rules + '</td> <td> ' + data[i].status + '</td><td> <a class="btn btn-white" href="/admin/auth_group/edit?id=' + data[i].id + '" type="button"><i class="fa fa-edit"></i>编辑</a> <a class="btn btn-danger" href="/admin/auth_group/delete?id=' + data[i].id + '" type="button"><i class="fa fa-remove"></i>删除</a> </td> </tr>');
                    $(".table tbody").append('<tr><td><label><input type="checkbox"></label> </td> <td>' + data.data[i].id + '</td> <td>' + data.data[i].name + '</td> <td>' + data.data[i].rules + '</td> <td> ' + data.data[i].status + '</td><td> <a class="btn btn-white" href="/admin/auth_group/edit?id=' + data.data[i].id + '" type="button"><i class="fa fa-edit"></i>编辑</a> <a class="btn btn-danger" href="/admin/auth_group/delete?id=' + data.data[i].id + '" type="button"><i class="fa fa-remove"></i>删除</a> </td> </tr>');
                }
            }
        });
    }

    $(function () {
        getAuthGroupList();
    });*/
</script>
</body>
</html>