@charset "utf-8";
body{font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";}

/*宽度比例*/
.w10 { width: 10%; }
.w20 { width: 20%; }
.w30 { width: 30%; }
.w40 { width: 40%; }
.w50 { width: 50%; }
.w60 { width: 60%; }
.w70 { width: 70%; }
.w80 { width: 80%; }
.w90 { width: 90%; }
.w5 { width: 5%; }
.w15 { width: 15%; }
.w25 { width: 25%; }
.w35 { width: 35%; }
.w33 { width: 33.333%; }
.w45 { width: 45%; }
.w55 { width: 55%; }
.w65 { width: 65%; }
.w75 { width: 75%; }
.w85 { width: 85%; }
.w95 { width: 95%; }







/*左侧导航栏*/
.down-main{position: absolute;width: 100%;top: 50px;bottom: 0px;z-index: 100;}
.left-full{ width:160px; display:block;}
.right-full{ left:160px;}
.left-off{ width:48px; display:block;}
.right-off{ left:48px;}
.right-product{position: absolute;top: 0px;bottom: 0px;right: 0px;background: #fff;}
.sidebar-fold{ height: 30px;width: 100%;background: #394555;color: #aeb9c2;text-align: center; height:30px; font-size: 12px;cursor: pointer;}
.sidebar-fold span{ line-height:30px;}
/*.left-main{ bottom: 0px; top:0px; position:absolute; background-color:#293038;}*/
.left-main{ bottom: 0px; top:50px; z-index:100; position:fixed; background-color:#293038;}
.sBox ul li{ list-style-type:none; position:relative;}

.sBox ul{ padding:0px; position: relative; margin:0px;}
.sBox ul li a{display: block;width: 100%;height: 40px;line-height: 40px;overflow: hidden; text-decoration:none; color:#FFF;}
.sBox .sublist-icon{ width:48px; text-align:center;}
.subNavBox .subNav{ height:40px; line-height:40px; color: #fff;}
.subNavBox .subNav .title-icon{ width:48px; text-align:center;}
.sBox .sublist-down{ background-color:#22282e;}
.sBox .sublist-up{ background-color:#37424f;}
.sBox .sublist-up ul{ display:none;}
.sBox .sublist-title{ cursor:pointer; font-size: 12px;}
.sBox .subNav:hover,.sBox ul li:hover{ background-color:#42515f;}
.sBox span{ line-height:36px;}
.sBox ul li .showtitle{ text-align:center; line-height:40px; position:absolute; z-index:100; background-color:#545f71; left:55px; padding:0px 10px 0px 10px; color:#FFF; min-width:100px; display:none;}
.sBox ul li .showtitle img {position: absolute;left: -6px; top: 14px;}
.left-off .sBox ul li .sub-title{ display:none;}
.left-off .sBox .sublist-title{ display:none;}
/*产品与服务下拉内容*/
.navbar-nav .dropdown .topbar-nav-list{ color:#000; font-size:12px;padding:10px; width:auto; white-space: nowrap;}
.topbar-nav-col{vertical-align: top;padding: 0 10px; display:inline-block;}
.topbar-nav-col .topbar-nav-item-title{margin: 3px 0px;color: #999;font-weight: 600; font-size:13px;}
.topbar-nav-col ul li{ list-style:none; min-width: 160px;height: 28px;line-height: 28px;margin-bottom: 2px;}
.dropdown-menu .topbar-nav-col ul{ padding-top:5px; padding-left:0px;}
.topbar-nav-col ul li a{display: block;height: 100%;padding: 0 10px;text-decoration: none;color: #333;}
.topbar-nav-col ul li a:hover{ background-color:#f2f2f2;}
.topbar-nav-col .topbar-nav-item{ border-bottom:solid 1px #f2f2f2;} 


.dropdown-menu{ min-width:10px;}
/*===============登录页面=======================*/
.login-bg {width: 100%;height: 100%;background-image: url(../images/login-bg.png);background-repeat: repeat-x;}
.login-dom{ width:100%; color:#c0cad6; text-align:center;}
.logo{padding-top: 60px;margin: 0px auto 20px;}

.login-bg .forget {height: 60px;overflow: hidden; max-width:570px; margin:30px auto 0px auto;}
.forget {background-image:url(../images/forget.png); background-repeat:no-repeat;}
.forget-pwd {color: #c1c8d1;margin-left: 50px;padding-top: 20px;}
.forget-pwd:hover {text-decoration: underline;color: #fff;}
.forget-new:hover {color: #fff;text-decoration: underline;}

.login .btn-change{ line-height:48px;}
.forget-new {color: #c1c8d1;padding-top: 20px;margin-right: 50px;}
.login-footer{ text-align:center;color:#c1c8d1; padding-top:40px;}
.login .form-left{ float:left; width:65%;}
.login .form-right{ float:right; width:35%; margin-top:3px;}
.login .form-right img{ height:36px; width:100%;border-radius: 6px;float: right;margin: 2px 5px 2px 0px;}
.login .form-horizontal{max-width:320px;margin-left:auto; margin-right:auto;}
.form-horizontal .form-group{ margin:0px;}
.border-bottom{border-bottom: solid 1px #ddd;}
.login-box {border-radius: 8px;-webkit-border-radius: 8px;margin: 20px auto;background-color: #dde6ea;border: 2px solid #fff;cursor: pointer;}
.form-left .txtyzm{ margin-left:12%;}
/*登录切换*/
.toptext{border: 1px solid #df9c1f;line-height: 28px;height: 28px;background-color: #fefcee;float: right;margin-right: 5px;padding: 0px 5px;color: #df9c1f;margin-top: 5px; position:relative;}
.triangle{ position:absolute; right: -9px;top: 3px;}
.img-click{margin-right: -3px;margin-top: -1px; width:48px; height:48px;}

.uplogin{ padding-bottom:10px;}
/* 登录名 */
.name {width: 100%;height: 40px;border-radius: 8px;}
.name input {width: 90%;height: 40px;outline: none;border: none;background-color: transparent;border-radius: 8px;
-webkit-border-radius: 8px;margin-left: 5%;}
input.input-error{background-color: transparent;}
/* 密码 */
.pwd {width: 100%;height: 40px;border-radius: 8px;-webkit-border-radius: 8px;}
.pwd input {width: 90%;height: 40px;outline: none;border: none;background-color: transparent;border-radius: 8px;
-webkit-border-radius: 8px;margin-left: 5%;}
.form-horizontal input{ color:#000;}
/*登录按钮*/
.btn-login {display: block;height: 40px;color: #c1c8d1;background-color: #2a799f;border-radius: 8px;-webkit-border-radius: 8px;cursor: pointer;border: 1px solid #598fab;}
.btn-mystyle:hover {color: #fff;}
/*二维码界面*/
.codelogin{ display:none; height:130px; padding-bottom:10px;}
.iconfont{float: left;color: #2a799f;font-size: 34px;line-height: 36px;margin-right: 5px;margin-top: 35px;}
.codelogin p{width: 110px; margin-top:35px;line-height: 20px;color: #6c6c6c;font-size: 12px;float: left;}
.btn-mystyle:focus{ color:#FFF;}

/*======内容页标题=====*/

.info-center .page-header{ width:100%;margin:0px 0px 0px 0px; padding:0px; height:57px; line-height:57px;}
.info-center .page-header h4{margin-top:20px; padding-left:8px;color: #363636;border-left: 2px solid #0098cd;font-size: 16px;}
/*====表单搜索框====*/
.info-center .search-box{ margin-top:10px;}
.search-box .form-group{float:left; padding-right:15px;}
.search-box .form-group input{width:120px;}
.search-box .form-group select{ width:auto;}
.form-span{line-height: 34px;padding-right: 10px;font-weight: bold;}
.btn-default{ background-color:#f7f7f7;}

/*======消息列表=====*/
.info-center-title{ margin-top:10px;}
.info-center-title .padding-large-right{ padding-right:30px;}
.info-center-title span a{height: 30px;cursor: pointer;line-height: 30px;color: #656565;display: block;font-weight: 600;float: left; text-decoration:none;}
.info-center-title span .active{ color:#098cba; border-bottom:solid 2px #098cba;}
.info-center-title span a:hover{color:#098cba; border-bottom:solid 2px #098cba;}


/*表格样式*/
.table-header thead,.table-header tfoot{ background-color:#f5f6fa; color:#87898b;}
.table-list{ margin-top:0px;}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{border-bottom: 1px solid #e1e6eb;}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{border-bottom: 1px solid #e1e6eb;}
.table-bordered{border: 1px solid #e1e6eb;}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{border: 1px solid #e1e6eb;}
.table-margin{ margin-top:10px;}
tfoot .pagination{ margin:0px;}

/*二级导航功能*/
#layout .left-back{ position:absolute; bottom:0px; height:100%; background-color:#EAEDF1;}
#layout .right-back{ position:absolute; bottom:0px; height:100%;}
.left-back .nav li{margin:0px;}
.left-back .nav .active a{color: #000;border-radius: 0px;background-color: #FFF;}
.left-back .nav li a:hover{ background-color:#f5f6f8; color:#000;border-radius: 0px;}


/*=========后台首页=========*/
.my-index{ background-color:#eceff3;}
.info-center .info-title{ margin-top:30px; margin-bottom:10px;padding-left: 15px;padding-right: 15px;}
.info-center .info-title h4{ margin-bottom:0px;}
.info-center .time-title { height:70px;}


.time-title .hour-minute strong{ font-size:34px;}
.year-month p{ margin-bottom:0px;}
.year-month p span{ font-size:24px;}


.content-list{ margin-top:30px;}
.content-list .row{ margin-left:0px; margin-right:0px;}
.content-list .row .content{ background-color:#FFF;}
.content-list .row .content .left-icon{ text-align:center;}
.content-list .row .content .right-title{ color:#666666; text-align:center; padding-top:10px;	 padding-bottom:10px;}
.content-list .row .content .left-icon span{margin-top: 50px;margin-bottom: 50px;width: 40px;line-height: 40px;color: #FFF;border-radius: 50%;}
.content .left-icon .blue{background-color: #2abbeb;}
.content .left-icon .violet{background-color: #675499;}
.content .left-icon .orange{background-color: #eac553;}
.content .left-icon .green{background-color: #1cbba7;}

.content .right-title .number{ font-size:46px; margin-top:0px;}
.content .right-title p{ margin-bottom:5px;}
.content .right-title .title-content{ width:130px;}
.content .right-title .title-content .btn-default{ background-color:#f5f8f9;}

.newslist .panel-default{ border:none;}
.newslist .panel-default>.panel-heading{ background-color:#f2f3f6; border:none;}
.newslist .panel-body{ padding:10px; border-bottom: solid 1px #eaeaea;}

/*便捷操作*/
.mask {position: absolute; top: 0px; filter: alpha(opacity=60); background-color: #777;     z-index: 9999; left: 0px;     opacity:0.5; -moz-opacity:0.5;}     
.convenient{position: absolute;margin: auto;top: 0; left: 0; bottom: 0; margin-top:40px; right: 0; z-index:10000; width:655px; min-height:500px; background:#fff;border-radius: 0px;border: 1px solid #999;border: 1px solid rgba(0,0,0,0.3);-webkit-box-shadow: 0px 5px 10px rgba(0,0,0,0.5);-moz-box-shadow: 0px 5px 10px rgba(0,0,0,0.5);box-shadow: 0px 5px 10px rgba(0,0,0,0.5);    border: 1px solid rgba(0, 0, 0, 0.2);border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;
        border-left-width: 1px;
        border-top-style: solid;
        border-right-style: solid;
        border-bottom-style: solid;
        border-left-style: solid;
        border-top-color: rgba(0, 0, 0, 0.2);
        border-right-color: rgba(0, 0, 0, 0.2);
        border-bottom-color: rgba(0, 0, 0, 0.2);
        border-left-color: rgba(0, 0, 0, 0.2);
        -moz-border-top-colors: none;
        -moz-border-right-colors: none;
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        border-image-source: none;
        border-image-slice: 100% 100% 100% 100%;
        border-image-width: 1 1 1 1;
        border-image-outset: 0 0 0 0;
        border-image-repeat: stretch stretch;
    border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
	display:none;
}
.convenient .top{padding: 15px 0px 35px 15px;border-bottom: 1px solid #e5e5e5; font-size:14.5px;}
#close{background:none; border:0px;font-size: 28px;margin-top: -14px;font-weight: normal;color:#333; cursor:pointer}
#close2{background:none; border:0px;font-size: 50px;margin-top: 0px;font-weight: normal;color:#333; cursor:pointer}
#close:hover,#close2:hover{color:#999}
#YXZ{padding: 15px; padding-right:0px}
#YXZ .txt{color:#666; font-size:12px;display:block}
#YXZ div{width:186px; padding-left:10px; height:30xp; line-height:30px; float:left; margin-right:15px;margin-top:10px; cursor:pointer}
#YXZ div a{font-size:12px;}
#YXZ div span{float:right; display:block; width:29px; line-height:30px; height:30px; font-size:20px; text-align:center;}

#WXZ{padding: 15px; padding-right:0px}
#WXZ .txt{color:#666; font-size:12px;display:block; width:100%;float: left;margin-top: 20px; padding-top:20px; border-top:1px dashed #ccc}
#WXZ div{width:186px; padding-left:10px; height:30xp; line-height:30px; border: 1px solid #d3dce3; float:left; margin-right:15px;margin-top:10px; cursor:pointer}
#WXZ div:hover{}
#WXZ div:hover > span{display:block}
#WXZ div a{font-size:12px;}
#WXZ div span{float:right; display:block; width:29px; line-height:30px; height:30px; font-size:20px;text-align:center;display:none}

#TJ{padding: 15px; padding-right:0px}
#TJ .txt{display:block; width:100%;float: left;margin-top: 20px; padding-top:20px; border-top:1px dashed #ccc}
#TJ input{font-size: 12px;border-radius: 0px;padding: 8px 16px;height: 32px;line-height: 14px; margin-right:10px; cursor:pointer}
#TJ .anniu-1 {color: #fff;}
#TJ .anniu-1:hover {}
#TJ .anniu-2 {color: #333;border: 1px solid #ddd;background-color: #f7f7f7;}
#TJ .anniu-2:hover {background-color: #fff;}

/*表单样式*/
.c-red, .c-red a, a.c-red {color: red;}
.content{width:100%; margin-bottom:40px}
.content td{padding-top:15px}
.content .left-txt{margin-top: 3px;cursor: text;text-align: right;padding-right: 10px;width: 16%;color: #555;font-size: 14px;}
.content .input-text, .content .textarea {box-sizing: border-box;border: solid 1px #ddd;width: 60%;-webkit-transition: all 0.2s linear 0s;-moz-transition: all 0.2s linear 0s;-o-transition: all 0.2s linear 0s;transition: all 0.2s linear 0s;font-size: 14px;height: 31px;line-height: 1.42857;padding: 4px;color:#838383;}
.content .textarea{height:120px}
#AUTH-A,#Jun-Dian{height: 30px;
line-height: 30px;
border: 1px solid #D9D9D9;
box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
background-color: #fff;
cursor: pointer;
padding: 0 30px;
color: #009E94;
text-decoration: none;
float: left}
.main .main-left .fly-edit a{color:#009E94}
.Jun-Url{margin-right:60px; display:block; height:30px;}
.Jun-TiJiao{color: #fff;display: inline-block;box-sizing: border-box;cursor: pointer;text-align: center;font-weight: 400;width: auto;padding: 4px 12px;font-size: 14px;height: 31px; border:0px}
.Jun-QuXiao{background-color: #e6e6e6;border-color: #e6e6e6;display: inline-block;box-sizing: border-box;cursor: pointer;text-align: center;font-weight: 400;border: solid 1px #ddd;background-color: #fff; width: auto;padding: 4px 12px;font-size: 14px;height: 31px;line-height: 1.42857;border-radius: 4px;overflow: hidden;line-height: normal !important;color: #b3b3b3;}


/*TAB切换*/
.main .main-left .lego-tab {background-color: #f9fafc;color: #333;margin-top: 10px;border: 1px solid #e1e6eb; width: 100%;}
.main .main-left .lego-tab p{margin:10px 0px 10px 12px; font-size:13.5px; color:#09C;}
.main .main-left .nav-tabs {border-color: #ddd;border-bottom: 1px solid #dddddd;margin-top:20px; height:30px; width: 100%; padding:0px}
.main .main-left .nav-tabs li{float: left; padding:0px; margin:0px; margin-left:-1px; border-left: 0px;border-right: 0px;}
.main .main-left .nav-tabs li a {border-left: 1px solid #ddd;border-right: 1px solid #ddd;border-top: 1px solid #ddd;color: #666;margin-right: 0px;padding: 10px 16px; background: #FBFAF8;text-decoration:none;cursor:pointer;border-bottom: 1px solid #e1e6eb;}
.main .main-left .nav-tabs li a:hover{text-decoration: none;}
.main .main-left .nav-tabs .active {border-top: 0px;z-index: 3;}
.main .main-left .nav-tabs .active  a{background:#fff;padding: 9px 16px 10px;border-bottom: 1px solid #FFF;color: #333;}
.main .main-left .min-tab{display:none;}
.main .main-left .min-tab2{display:block}


/*权限选择*/
#AUTH-A-LIST{padding: 15px; padding-right:0px}
#AUTH-A-LIST .txt{color:#666; font-size:12px;display:block; width:100%;float: left;margin-top: 20px; padding-top:20px; border-top:1px dashed #ccc}
#AUTH-A-LIST div{width:186px; padding-left:10px; height:30xp; line-height:30px; border: 1px solid #d3dce3; float:left; margin-right:15px;margin-top:10px; cursor:pointer}
#AUTH-A-LIST div:hover{}
#AUTH-A-LIST div:hover > span{display:block}
#AUTH-A-LIST div a{font-size:12px;}
#AUTH-A-LIST div span{float:right; display:block; width:29px; line-height:30px; height:30px; font-size:20px; text-align:center; display:none}
#AUTH-A-LIST .authclick{}
#AUTH-A-LIST .authclick span{display:block}

/*提示弹窗*/
/*第一种 下拉弹窗*/
.popupDom {position: fixed;top: -51px;width: 100%;text-align: center;z-index:99999999999999999999;}
.popup {width: 200px;height: 50px;line-height: 50px;background-color: #fff;border-radius: 0px 0px 4px 4px;text-align: center;margin: 0 auto;border-top: none;font-size:15px;}
/*第二种 弹出层提示*/
.mask2 {position: absolute; display:none; top: 0px; filter: alpha(opacity=30); background-color: #000; z-index: 1003; left: 0px;opacity:0.3; -moz-opacity:0.3;} 
#JunAlert_1{position:fixed; display:none; top:40%; left:40%; width:20%; height:148px; background:#fff; border:1xp solid #CCCCCC; z-index:99999;border-radius: 2px;}
#Alert_Top_1{height:40px;line-height:40px;color:#fff;font-size: 14px;text-indent: 20px;border-top-left-radius: 2px;border-top-right-radius: 2px;}
#Alert_Left_1{background-image:url(../images/icon.png);position: absolute;top: 65px;left: 15px;width: 30px;height: 30px;}
#Alert_Right_1{;position: absolute;top: 70px;left: 55px; font-size:14px}

#JunAlert_2{position:fixed; display:none; top:40%; left:40%; width:20%; height:148px;z-index:100000;}
#Alert_Right_2{;position: absolute;top: 70px;left: 55px; font-size:14px}

/*弹窗添加修改内容*/
#show{display:none;position:absolute;top:0px;width:100%;height:100%;padding:8px;border:8px solid #E8E9F7;background-color:white;z-index:10001;overflow:hidden;}